<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Upload Endpoints - NTUAflix
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='popcorn-removebg-preview.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        <div id="loader" class="center"></div>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-sm justify-content-end fixed-top">
            <div class="container-fluid">
                <!--This is used to make the navbar collapsible if the screen is too small-->
                <a class="navbar-brand" href="/ntuaflix_api/html">NTUAflix</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/ntuaflix_api/html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ntuaflix_api/uploads_html">Upload</a>
                        </li>

                        <!--We make sure the admin operations are grouped together-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Admin Operations</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" id = "backup">Backup</a></li>
                                <li><a class="dropdown-item" href="#" id = "reset">Reset Database</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid" style="margin-top: 190px;">

            <!--Endpoint2-->
            <div class="row g-0" style="margin-bottom:100px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 upload-cover d-flex flex-column align-items-center justify-content-center">
                    <div class="row g-0">
                        <p style="font-size:30px;">Upload tsv files with data concerning movie titles </p>
                    </div>
                    <div class="row g-0 m-3">
                        <form id="uploadForm2" action="/ntuaflix_api/admin/upload/titlebasics" method="post" enctype="multipart/form-data">
                            <div class="upload-form">
                                <label for="endpoint2" class="form-label"></label>
                                <input class="form-control custom-file-input" type="file" id="endpoint2">
                            </div>
                            <div class="row g-0 m-3 justify-content-center">
                                <button class = "btn btn-outline-dark" onclick="" style="width: 90px;">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <script>
                document.onreadystatechange = function () {
                    if (document.readyState !== "complete") {
                        document.querySelector("#loader").style.display = "visible";
                        document.querySelector("body").style.visibility = "hidden";
                    } else {
                        document.querySelector("#loader").style.display = "none";
                        document.querySelector("body").style.visibility = "visible";
                    }
                };
                document.getElementById("uploadForm2").addEventListener("submit", function(event) {

                    const loaderDiv = document.getElementById('loader'); 

                    function showLoader() {
                        loaderDiv.classList.add('show');
                        document.querySelector("body").style.visibility = "hidden";
                    }

                    function hideLoader() {
                        loaderDiv.classList.remove('show');
                        document.querySelector("body").style.visibility = "visible";
                    }
                    event.preventDefault();

                    const formData = new FormData();
                    const fileInput = document.getElementById("endpoint2").files[0];
                    formData.append("file", fileInput);

                    showLoader();
                    console.log("Fetch called");
                    fetch("/ntuaflix_api/admin/upload/titlebasics", {
                        method: "POST",
                        body: formData,
                    })
                    .then(response => {
                        if (response.ok) {
                            window.alert("File uploaded successfully!");
                            window.location.reload();
                        }
                        else {
                            window.alert("Error uploading file");
                            window.location.reload();
                        }
                    })
                    .then(data => {
                        console.log(data);
                        // Handle response from server
                        hideLoader();
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        window.alert("An error occured. Try again later");
                        window.location.reload();
                    });
                });
            </script>

            <!--Endpoint3-->
            <div class="row g-0" style="margin-bottom:100px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 upload-cover d-flex flex-column align-items-center justify-content-center">
                    <div class="row g-0">
                        <p style="font-size:30px;">Upload tsv files with data concerning parallel movie titles </p>
                    </div>
                    <div class="row g-0 m-3">
                        <form id="uploadForm3" action="/ntuaflix_api/admin/upload/titleakas" method="post" enctype="multipart/form-data">
                            <div class="upload-form">
                                <label for="endpoint3" class="form-label"></label>
                                <input class="form-control custom-file-input" type="file" id="endpoint3">
                            </div>
                            <div class="row g-0 m-3 justify-content-center">
                                <button class = "btn btn-outline-dark" onclick="" style="width: 90px;">Upload</button>
                            </div>
                        </form>
                    </div>                    
                </div>
                <div class="col-sm-1"></div>
            </div>
            <script>
                document.onreadystatechange = function () {
                    if (document.readyState !== "complete") {
                        document.querySelector("#loader").style.display = "visible";
                        document.querySelector("body").style.visibility = "hidden";
                    } else {
                        document.querySelector("#loader").style.display = "none";
                        document.querySelector("body").style.visibility = "visible";
                    }
                };

                document.getElementById("uploadForm3").addEventListener("submit", function(event) {
                     const loaderDiv = document.getElementById('loader'); 

                    function showLoader() {
                        loaderDiv.classList.add('show');
                        document.querySelector("body").style.visibility = "hidden";
                    }

                    function hideLoader() {
                        loaderDiv.classList.remove('show');
                        document.querySelector("body").style.visibility = "visible";
                    }
                    event.preventDefault();
                    const formData = new FormData();
                    const fileInput = document.getElementById("endpoint3").files[0];
                    formData.append("file", fileInput);
                    showLoader();
                    fetch("/ntuaflix_api/admin/upload/titleakas", {
                        method: "POST",
                        body: formData
                    })
                    .then(response => {
                        if (response.ok) {
                            window.alert("File uploaded successfully!");
                            window.location.reload();
                        }
                        else {
                            window.alert("Error uploading file");
                            window.location.reload();
                        }
                    })
                    .then(data => {
                        console.log(data);
                        // Handle response from server
                        hideLoader();
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        window.alert("An error occured. Try again later");
                        window.location.reload();
                    });
                });
            </script>   

            <!--Endpoint4-->
            <div class="row g-0" style="margin-bottom:100px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 upload-cover d-flex flex-column align-items-center justify-content-center">
                    <div class="row g-0">
                        <p style="font-size:30px;">Upload tsv files with data concerning people names </p>
                    </div>
                    <div class="row g-0 m-3">
                        <form id="uploadForm4" action="/ntuaflix_api/admin/upload/namebasics" method="post" enctype="multipart/form-data">
                            <div class="upload-form">
                                <label for="endpoint4" class="form-label"></label>
                                <input class="form-control custom-file-input" type="file" id="endpoint4" name="file">
                            </div>
                            <div class="row g-0 m-3 justify-content-center">
                                <button class = "btn btn-outline-dark" onclick="" style="width: 90px;">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>

            <script>
                document.onreadystatechange = function () {
                    if (document.readyState !== "complete") {
                        document.querySelector("#loader").style.display = "visible";
                        document.querySelector("body").style.visibility = "hidden";
                    } else {
                        document.querySelector("#loader").style.display = "none";
                        document.querySelector("body").style.visibility = "visible";
                    }
                };
                document.getElementById("uploadForm4").addEventListener("submit", function(event) {
                    const loaderDiv = document.getElementById('loader'); 

                    function showLoader() {
                        loaderDiv.classList.add('show');
                        document.querySelector("body").style.visibility = "hidden";
                    }

                    function hideLoader() {
                        loaderDiv.classList.remove('show');
                        document.querySelector("body").style.visibility = "visible";
                    }
                    event.preventDefault();
                    const formData = new FormData();
                    const fileInput = document.getElementById("endpoint4").files[0];
                    formData.append("file", fileInput);
                    showLoader();
                    fetch("/ntuaflix_api/admin/upload/namebasics", {
                        method: "POST",
                        body: formData
                    })
                    .then(response => {
                        if (response.ok) {
                            window.alert("File uploaded successfully!");
                            window.location.reload();
                        }
                        else {
                            window.alert("Error uploading file");
                            window.location.reload();
                        }
                    })
                    .then(data => {
                        console.log(data);
                        // Handle response from server
                        hideLoader();
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        window.alert("An error occured. Try again later");
                        window.location.reload();
                    });
                });
            </script>

            <!--Endpoint5-->
            <div class="row g-0" style="margin-bottom:100px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 upload-cover d-flex flex-column align-items-center justify-content-center">
                    <div class="row g-0">
                        <p style="font-size:30px;">Upload tsv files with data concerning director and writers' names </p>
                    </div>
                    <div class="row g-0 m-3">
                        <form id="uploadForm5" action="/ntuaflix_api/admin/upload/titlecrew" method="post" enctype="multipart/form-data">
                            <div class="upload-form">
                                <label for="endpoint5" class="form-label"></label>
                                <input class="form-control custom-file-input" type="file" id="endpoint5">
                            </div>
                            <div class="row g-0 m-3 justify-content-center">
                                <button class = "btn btn-outline-dark" onclick="" style="width: 90px;">Upload</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="col-sm-1"></div>
            </div>  
            <script>
                document.onreadystatechange = function () {
                    if (document.readyState !== "complete") {
                        document.querySelector("#loader").style.display = "visible";
                        document.querySelector("body").style.visibility = "hidden";
                    } else {
                        document.querySelector("#loader").style.display = "none";
                        document.querySelector("body").style.visibility = "visible";
                    }
                };
                document.getElementById("uploadForm5").addEventListener("submit", function(event) {
                    const loaderDiv = document.getElementById('loader'); 

                    function showLoader() {
                        loaderDiv.classList.add('show');
                        document.querySelector("body").style.visibility = "hidden";
                    }

                    function hideLoader() {
                        loaderDiv.classList.remove('show');
                        document.querySelector("body").style.visibility = "visible";
                    }
                    event.preventDefault();
                    const formData = new FormData();
                    const fileInput = document.getElementById("endpoint5").files[0];
                    formData.append("file", fileInput);
                    showLoader();
                    fetch("/ntuaflix_api/admin/upload/titlecrew", {
                        method: "POST",
                        body: formData
                    })
                    .then(response => {
                        if (response.ok) {
                            window.confirm("File uploaded successfully!");
                            window.location.reload();
                        }
                        else {
                            window.alert("Error uploading file");
                            window.location.reload();
                        }
                    })
                    .then(data => {
                        console.log(data);
                        // Handle response from server
                        hideLoader();
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        window.alert("An error occured. Try again later");
                        window.location.reload();
                    });
                });
            </script>

            <!--Endpoint6-->
            <div class="row g-0" style="margin-bottom:100px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 upload-cover d-flex flex-column align-items-center justify-content-center">
                    <div class="row g-0">
                        <p style="font-size:30px;">Upload tsv files with data concerning episodes </p>
                    </div>
                    <div class="row g-0 m-3">
                        <form id="uploadForm6" action="/ntuaflix_api/admin/upload/titleepisode" method="post" enctype="multipart/form-data">
                            <div class="upload-form">
                                <label for="endpoint6" class="form-label"></label>
                                <input class="form-control custom-file-input" type="file" id="endpoint6">
                            </div>
                            <div class="row g-0 m-3 justify-content-center">
                                <button class = "btn btn-outline-dark" onclick="" style="width: 90px;">Upload</button>
                            </div>
                        </form>
                    </div> 
                </div>
                <div class="col-sm-1"></div>
            </div>
            <script>
                document.onreadystatechange = function () {
                    if (document.readyState !== "complete") {
                        document.querySelector("#loader").style.display = "visible";
                        document.querySelector("body").style.visibility = "hidden";
                    } else {
                        document.querySelector("#loader").style.display = "none";
                        document.querySelector("body").style.visibility = "visible";
                    }
                };
                document.getElementById("uploadForm6").addEventListener("submit", function(event) {
                    const loaderDiv = document.getElementById('loader'); 

                    function showLoader() {
                        loaderDiv.classList.add('show');
                        document.querySelector("body").style.visibility = "hidden";
                    }

                    function hideLoader() {
                        loaderDiv.classList.remove('show');
                        document.querySelector("body").style.visibility = "visible";
                    }
                    event.preventDefault();
                    const formData = new FormData();
                    const fileInput = document.getElementById("endpoint6").files[0];
                    formData.append("file", fileInput);
                    showLoader();
                    fetch("/ntuaflix_api/admin/upload/titleepisode", {
                        method: "POST",
                        body: formData
                    })
                    .then(response => {
                        if (response.ok) {
                            window.confirm("File uploaded successfully!");
                            window.location.reload();
                        }
                        else {
                            window.alert("Error uploading file");
                            window.location.reload();
                        }
                    })
                    .then(data => {
                        console.log(data);
                        // Handle response from server
                        hideLoader();
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        window.alert("An error occured. Try again later");
                        window.location.reload();
                    });
                });
            </script>

            <!--Endpoint7-->
            <div class="row g-0" style="margin-bottom:100px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 upload-cover d-flex flex-column align-items-center justify-content-center">
                    <div class="row g-0">
                        <p style="font-size:30px;">Upload tsv files with data concerning principals </p>
                    </div>
                    <div class="row g-0 m-3">
                        <form id="uploadForm7" action="/ntuaflix_api/admin/upload/titleprincipals" method="post" enctype="multipart/form-data">
                            <div class="upload-form">
                                <label for="endpoint7" class="form-label"></label>
                                <input class="form-control custom-file-input" type="file" id="endpoint7">
                            </div>
                            <div class="row g-0 m-3 justify-content-center">
                                <button class = "btn btn-outline-dark" onclick="" style="width: 90px;">Upload</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <div class="col-sm-1"></div>
            </div>
            <script>
                document.onreadystatechange = function () {
                    if (document.readyState !== "complete") {
                        document.querySelector("#loader").style.display = "visible";
                        document.querySelector("body").style.visibility = "hidden";
                    } else {
                        document.querySelector("#loader").style.display = "none";
                        document.querySelector("body").style.visibility = "visible";
                    }
                };
                document.getElementById("uploadForm7").addEventListener("submit", function(event) {
                    const loaderDiv = document.getElementById('loader'); 

                    function showLoader() {
                        loaderDiv.classList.add('show');
                        document.querySelector("body").style.visibility = "hidden";
                    }

                    function hideLoader() {
                        loaderDiv.classList.remove('show');
                        document.querySelector("body").style.visibility = "visible";
                    }
                    event.preventDefault();
                    const formData = new FormData();
                    const fileInput = document.getElementById("endpoint7").files[0];
                    formData.append("file", fileInput);
                    showLoader();
                    fetch("/ntuaflix_api/admin/upload/titleprincipals", {
                        method: "POST",
                        body: formData
                    })
                    .then(response => {
                        if (response.ok) {
                            window.confirm("File uploaded successfully!");
                            window.location.reload();
                        }
                        else {
                            window.alert("Error uploading file");
                            window.location.reload();
                        }
                    })
                    .then(data => {
                        console.log(data);
                        // Handle response from server
                        hideLoader();
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        window.alert("An error occured. Try again later");
                        window.location.reload();
                    });
                });
            </script>  
            
            <!--Endpoint8-->
            <div class="row g-0" style="margin-bottom:100px;">
                <div class="col-sm-1"></div>
                <div class="col-sm-10 upload-cover d-flex flex-column align-items-center justify-content-center">
                    <div class="row g-0">
                        <p style="font-size:30px;">Upload tsv files with data concerning rating </p>
                    </div>
                    <div class="row g-0 m-3">
                        <form id="uploadForm8" action="/ntuaflix_api/admin/upload/titleratings" method="post" enctype="multipart/form-data">
                            <div class="upload-form">
                                <label for="endpoint8" class="form-label"></label>
                                <input class="form-control custom-file-input" type="file" id="endpoint8">
                            </div>
                            <div class="row g-0 m-3 justify-content-center">
                                <button class = "btn btn-outline-dark" onclick="" style="width: 90px;">Upload</button>
                            </div>
                        </form>
                    </div>
                    
                </div>    
                <div class="col-sm-1"></div>
            </div> 
            <script>
                document.onreadystatechange = function () {
                    if (document.readyState !== "complete") {
                        document.querySelector("#loader").style.display = "visible";
                        document.querySelector("body").style.visibility = "hidden";
                    } else {
                        document.querySelector("#loader").style.display = "none";
                        document.querySelector("body").style.visibility = "visible";
                    }
                };
                document.getElementById("uploadForm8").addEventListener("submit", function(event) {
                    const loaderDiv = document.getElementById('loader'); 

                    function showLoader() {
                        loaderDiv.classList.add('show');
                        document.querySelector("body").style.visibility = "hidden";
                    }

                    function hideLoader() {
                        loaderDiv.classList.remove('show');
                        document.querySelector("body").style.visibility = "visible";
                    }
                    event.preventDefault();
                    const formData = new FormData();
                    const fileInput = document.getElementById("endpoint8").files[0];
                    formData.append("file", fileInput);
                    showLoader();
                    fetch("/ntuaflix_api/admin/upload/titleratings", {
                        method: "POST",
                        body: formData
                    })
                    .then(response => {
                        if (response.ok) {
                            window.confirm("File uploaded successfully!");
                            window.location.reload();
                        }
                        else {
                            window.alert("Error uploading file");
                            window.location.reload();
                        }
                    })
                    .then(data => {
                        console.log(data);
                        // Handle response from server
                        hideLoader();
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        window.alert("An error occured. Try again later");
                        window.location.reload();
                    });
                });
            </script>
            
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log('DOM fully loaded and parsed');
            document.getElementById('backup').addEventListener('click', function(e) {
                e.preventDefault();
                fetch('/ntuaflix_api/admin/backup', { method: 'POST' })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        if(data.status === "success") {
                            alert('Backup of current database version created successfully! File :' + data.backup_file);
                        }
                        else {
                            alert('Backup failed: ' + data.message);
                        }
                    })
                    .catch(error => alert('Error: ' + error))
                    .finally(() => {
                            if (loader) {
                                loader.classList.add('loader-hidden');
                                console.log('Loader should now be hidden.');
                            }
                        });
            });

            /*document.getElementById('restore').addEventListener('click', function(e) {
                e.preventDefault();
                if(confirm('Are you sure you want to restore the database? This cannot be undone.')) {
                    const loader = document.querySelector('.loader');
                    if (!loader) {
                        console.error('Loader element not found.');
                        return; // Stop the function if loader is not found
                    }

                    loader.classList.remove('loader-hidden');
                    console.log('Loader should now be visible.');
                    fetch('/ntuaflix_api/admin/restore', { method: 'POST' })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if(data.status === "success") {
                                alert('Database restore initiated successfully.');
                            } else {
                                alert('Restore failed: ' + data.message);
                            }
                        })
                        .catch(error => alert('Error: ' + error))
                        .finally(() => {
                            if (loader) {
                                loader.classList.add('loader-hidden');
                                console.log('Loader should now be hidden.');
                            }
                        });
                }
            });*/

            document.getElementById('reset').addEventListener('click', function(e) {
                e.preventDefault();
                console.log("Reset button clicked");
                if(confirm('Are you sure you want to reset the database to its original state? This will erase all current data.')) {
                    /*const loader = document.querySelector('.loader');
                    if (!loader) {
                        console.error('Loader element not found.');
                        return; // Stop the function if loader is not found
                    }

                    loader.classList.remove('loader-hidden');*/
                    console.log('Loader should now be visible.');

                    fetch('/ntuaflix_api/admin/resetall', { method: 'POST' })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            console.log("response succesful")
                            return response.json();
                        })
                        .then(data => {
                            if(data.status === "OK") {
                                alert('Database reset initiated successfully.');
                            } else {
                                alert('Reset failed: ' + data.message);
                            }
                        })
                        .catch(error => {
                            alert('Error: ' + error);
                        })
                        .finally(() => {
                            if (loader) {
                                loader.classList.add('loader-hidden');
                                console.log('Loader should now be hidden.');
                            }
                        });
                    }
            });
        });
    </script>
    </body>
</html>